In [2]:
import pandas as pd
from IPython.display import clear_output

In [6]:
# Retrieve the region data
region_data = pd.read_csv("name_region_data.csv")
region_data = region_data[["Name", "County"]]
region_data["County"][3] = "Västra Götalands län"

# Retrieve the weather data
weather_data = pd.read_csv("weather_data.csv")

In [7]:
# Get the locations and set as same
locations = weather_data["location"]
set(region_data["Name"]) - set(locations)

set()

In [12]:
# Get weather data from 1995 and later
weather_data_from_1995 = weather_data[weather_data["date"]>="1995-01-01"]
weather_data_from_1995

             location        date  snow_depth
8378           Abisko  1995-01-01          17
8379           Abisko  1995-01-02          17
8380           Abisko  1995-01-03          17
8381           Abisko  1995-01-04          17
8382           Abisko  1995-01-05          17
...               ...         ...         ...
3145128  Övre Soppero  2021-08-28           0
3145129  Övre Soppero  2021-08-29           0
3145130  Övre Soppero  2021-08-30           0
3145131  Övre Soppero  2021-08-31           0
3145132  Övre Soppero  2021-09-01           0

[2044549 rows x 3 columns]

In [13]:
# Add the county from the region data to each weather observation.
def add_regions(df, name_regions):
    new_col = []
    count = 0
    for region in df["location"]:
        count = count +1
        try:
            new_value = list(name_regions[name_regions["Name"]==region]["County"])[0]
            new_col.append(new_value)
        except KeyError:
            new_col.append("Error")
        finally:
            clear_output(wait=True)
            print(str(count) + " / "+str(len(df["location"]))  )
    df["Region"] = new_col
    return df

In [ ]:
weather_regions = add_regions(weather_data_from_1995, region_data)

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [44]:
# Save the weather data with county to a CSV file.
weather_regions.to_csv("weather_regions_new.csv")

In [43]:
weather_regions

             location        date  snow_depth           Region
8378           Abisko  1995-01-01          17  Norrbottens län
8379           Abisko  1995-01-02          17  Norrbottens län
8380           Abisko  1995-01-03          17  Norrbottens län
8381           Abisko  1995-01-04          17  Norrbottens län
8382           Abisko  1995-01-05          17  Norrbottens län
...               ...         ...         ...              ...
3145128  Övre Soppero  2021-08-28           0  Norrbottens län
3145129  Övre Soppero  2021-08-29           0  Norrbottens län
3145130  Övre Soppero  2021-08-30           0  Norrbottens län
3145131  Övre Soppero  2021-08-31           0  Norrbottens län
3145132  Övre Soppero  2021-09-01           0  Norrbottens län

[2044549 rows x 4 columns]