In [2]:
import pandas as pd

In [3]:
from IPython.display import clear_output

In [4]:
name_region = pd.read_excel("name_region.xlsx", engine="openpyxl")
name_region = name_region[["Name", "County"]]
name_region["County"][3] = "Västra Götalands län"

In [5]:
weather_new = pd.read_csv("C:/Users/Henrik/Documents/LeTitsNow/weather_data_new.csv")

In [6]:
locations = weather_new["location"]

In [7]:
#Samma
set(name_region["Name"]) - set(locations)

set()

In [8]:
len(name_region["Name"])

484

In [9]:
len(set(locations))

484

In [16]:
weather_from_95 = weather_new[weather_new["date"]>="1995-01-01"]

In [18]:
weather_from_95

             location        date  snow_depth
8378           Abisko  1995-01-01          17
8379           Abisko  1995-01-02          17
8380           Abisko  1995-01-03          17
8381           Abisko  1995-01-04          17
8382           Abisko  1995-01-05          17
...               ...         ...         ...
3145128  Övre Soppero  2021-08-28           0
3145129  Övre Soppero  2021-08-29           0
3145130  Övre Soppero  2021-08-30           0
3145131  Övre Soppero  2021-08-31           0
3145132  Övre Soppero  2021-09-01           0

[2044549 rows x 3 columns]

In [19]:
def add_regions(df, name_regions):
    new_col = []
    count = 0
    for region in df["location"]:
        count = count +1
        try:
            new_value = name_regions[name_regions["Name"]==region]["County"][0]
            new_col.append(new_value)
        except KeyError:
            new_col.append("Error")
        finally:
            clear_output(wait=True)
            print(str(count) + " / "+str(len(df["location"]))  )
    df["Region"] = new_col
    return df

In [20]:
weather_regions = add_regions(weather_from_95, name_region)

2044549 / 2044549

C:\Users\Henrik\anaconda3\envs\tensorflow_env\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
weather_regions

             location        date  snow_depth           Region
8378           Abisko  1995-01-01          17  Norrbottens län
8379           Abisko  1995-01-02          17  Norrbottens län
8380           Abisko  1995-01-03          17  Norrbottens län
8381           Abisko  1995-01-04          17  Norrbottens län
8382           Abisko  1995-01-05          17  Norrbottens län
...               ...         ...         ...              ...
3145128  Övre Soppero  2021-08-28           0            Error
3145129  Övre Soppero  2021-08-29           0            Error
3145130  Övre Soppero  2021-08-30           0            Error
3145131  Övre Soppero  2021-08-31           0            Error
3145132  Övre Soppero  2021-09-01           0            Error

[2044549 rows x 4 columns]

In [23]:
#weather_regions.to_excel("weather_regions.xlsx")

ValueError: This sheet is too large! Your sheet size is: 2044549, 4 Max sheet size is: 1048576, 16384

In [24]:
weather_regions.to_csv("weather_regions.csv")