In [141]:
import pandas as pd
import fnmatch
import numpy as np

In [142]:
crime_df = pd.read_csv("crime_cleaned.csv").drop("Unnamed: 0", axis=1)

In [143]:
weather_regions_df = pd.read_csv("weather_regions.csv").drop("Unnamed: 0", axis=1)

In [144]:
crime_df

                 Region Antal /100 000 inv     Date
0          Gotlands län    ..           ..  1998-12
1          Gotlands län    ..           ..  2002-10
2          Gotlands län    ..           ..  2007-11
3          Gotlands län    ..           ..  2011-11
4          Gotlands län    ..           ..  2012-02
...                 ...   ...          ...      ...
2515  Östergötlands län    40            9  2008-03
2516  Östergötlands län    38            9  2010-01
2517  Östergötlands län    38            9  2010-03
2518  Östergötlands län    38            9  2012-12
2519  Östergötlands län    41            9  2013-03

[2520 rows x 4 columns]

In [145]:
weather_regions_df.columns = ["Location", "Date", "Snow_depth", "Region"]

In [146]:
weather_regions_df

             Location        Date  Snow_depth           Region
0              Abisko  1995-01-01          17  Norrbottens län
1              Abisko  1995-01-02          17  Norrbottens län
2              Abisko  1995-01-03          17  Norrbottens län
3              Abisko  1995-01-04          17  Norrbottens län
4              Abisko  1995-01-05          17  Norrbottens län
...               ...         ...         ...              ...
2044544  Övre Soppero  2021-08-28           0  Norrbottens län
2044545  Övre Soppero  2021-08-29           0  Norrbottens län
2044546  Övre Soppero  2021-08-30           0  Norrbottens län
2044547  Övre Soppero  2021-08-31           0  Norrbottens län
2044548  Övre Soppero  2021-09-01           0  Norrbottens län

[2044549 rows x 4 columns]

In [147]:
#Remove days from date
weather_regions_df["Date"] = weather_regions_df["Date"].apply(lambda x: x[:-3])

In [148]:
def snow_day(x):
    if (x == 17) | (x == 14)|(x == 17) | (x == 18) | (x == 19):
        return 1
    else:
        return 0

In [149]:
weather_regions_df["Snow_days"] = weather_regions_df["Snow_depth"].apply(snow_day)

In [150]:
weather_regions_df = weather_regions_df.drop("Snow_depth", axis=1)

In [151]:
weather_regions_snow_days = weather_regions_df.groupby(["Location", "Date", "Region"]).sum()

In [152]:
weather_regions_snow_days.reset_index(inplace=True)
weather_regions_snow_days

           Location     Date           Region  Snow_days
0            Abisko  1995-01  Norrbottens län         31
1            Abisko  1995-02  Norrbottens län         28
2            Abisko  1995-03  Norrbottens län         27
3            Abisko  1995-04  Norrbottens län          3
4            Abisko  1995-05  Norrbottens län          1
...             ...      ...              ...        ...
85546  Övre Soppero  2021-05  Norrbottens län          3
85547  Övre Soppero  2021-06  Norrbottens län          0
85548  Övre Soppero  2021-07  Norrbottens län          0
85549  Övre Soppero  2021-08  Norrbottens län          0
85550  Övre Soppero  2021-09  Norrbottens län          0

[85551 rows x 4 columns]

In [153]:
final_df = crime_df.merge(weather_regions_snow_days, on=["Region", "Date"])

In [154]:
final_df

                  Region Antal /100 000 inv     Date       Location  Snow_days
0           Gotlands län    ..           ..  1998-12          Forse         21
1           Gotlands län    ..           ..  1998-12         Hejnum         15
2           Gotlands län    ..           ..  1998-12          Hemse          5
3           Gotlands län    ..           ..  1998-12       Hoburg D          4
4           Gotlands län    ..           ..  1998-12          Sanda          9
...                  ...   ...          ...      ...            ...        ...
33622  Östergötlands län    41            9  2013-03      Tjällmo D         31
33623  Östergötlands län    41            9  2013-03     Vadstena D          4
33624  Östergötlands län    41            9  2013-03      Åkroken D         31
33625  Östergötlands län    41            9  2013-03      Ödeshög D         16
33626  Östergötlands län    41            9  2013-03  Östra Husby D         15

[33627 rows x 6 columns]

In [155]:
final_df.to_csv("final_dataset.csv")

In [33]:
"""0 Torr (utan sprickor eller nämnvärd mängd stoft eller lös sand) 
1 Fuktig 
2 Våt (större eller mindre vattensamlingar förekommer) 
3 Översvämmad 
4 Frusen 
5 Täckt av glattis 
6 Täckt av löst torrt stoft eller lös torr sand – som inte helt täcker markytan 
7 Täckt av löst torrt stoft eller lös torr sand – i ett tunt lager som helt täcker markytan 
8 Täckt av löst torrt stoft eller lös torr sand – i ett måttligt eller tjockt lager som helt täcker markytan 
9 Extremt torr med sprickor 
10 Huvudsakligen täckt av is 
11 Delvis eller helt täckt av packad eller våt snö – till mindre än hälften 
12 Delvis eller helt täckt av packad eller våt snö – till minst hälften men ej helt 
13 Delvis eller helt täckt av packad eller våt snö – helt och i ett jämnt lager 
14 Delvis eller helt täckt av packad eller våt snö – helt och i ett ojämnt lager 
15 Delvis eller helt täckt av lös och torr snö – till mindre än hälften 
16 Delvis eller helt täckt av lös och torr snö – till minst hälften men ej helt 
17 Delvis eller helt täckt av lös och torr snö – helt och i ett jämnt lager 
18 Delvis eller helt täckt av lös och torr snö – helt och i ett ojämnt lager 
19 Helt täckt av snö med höga drivor"""

'0 Torr (utan sprickor eller nämnvärd mängd stoft eller lös sand) \n1 Fuktig \n2 Våt (större eller mindre vattensamlingar förekommer) \n3 Översvämmad \n4 Frusen \n5 Täckt av glattis \n6 Täckt av löst torrt stoft eller lös torr sand – som inte helt täcker markytan \n7 Täckt av löst torrt stoft eller lös torr sand – i ett tunt lager som helt täcker markytan \n8 Täckt av löst torrt stoft eller lös torr sand – i ett måttligt eller tjockt lager som helt täcker markytan \n9 Extremt torr med sprickor \n10 Huvudsakligen täckt av is \n11 Delvis eller helt täckt av packad eller våt snö – till mindre än hälften \n12 Delvis eller helt täckt av packad eller våt snö – till minst hälften men ej helt \n13 Delvis eller helt täckt av packad eller våt snö – helt och i ett jämnt lager \n14 Delvis eller helt täckt av packad eller våt snö – helt och i ett ojämnt lager \n15 Delvis eller helt täckt av lös och torr snö – till mindre än hälften \n16 Delvis eller helt täckt av lös och torr snö – till minst hälften men ej helt \n17 Delvis eller helt täckt av lös och torr snö – helt och i ett jämnt lager \n18 Delvis eller helt täckt av lös och torr snö – helt och i ett ojämnt lager \n19 Helt täckt av snö med höga drivor'